<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 
 <typeAliases>
 <typeAlias alias="testVO" type="com.sun.domain.TestVO"/>
 <typeAlias alias="BoardVO" type="com.sun.domain.BoardVO"/>
 <typeAlias alias="ScoreVO" type="com.sun.domain.ScoreVO"/>

 </typeAliases>
 <mappers>
		<mapper resource="/mappers/rserve.xml" />
	</mappers>
 </configuration>
 
 